{
  "builders": [{
    "type": "amazon-ebs",
    "access_key": "{{ aws_access_key }}",
    "secret_key": "{{ aws_secret_key }}",
    "region": "{{ region }}",
    "source_ami_filter": {
      "filters": {
      "virtualization-type": "hvm",
      "name": "{{ image }}",
      "root-device-type": "ebs"
      },
      "owners": ["099720109477"],
      "most_recent": true
    },
    "instance_type": "{{ instance_type }}",
    "ssh_username": "ubuntu",
    "ami_name": "packer-example \{\{timestamp\}\}"
  }]
}
